  <article class="center">
<h5>WELCOME</h5>
<hr>
  <%= form_for :user do |form| %>
  NAME: <br><br><%= form.text_field :name %><br /><br />
  EMAIL: <br><br><%= form.text_field :email %><br /><br />
  PASSWORD: <br><br><%= form.password_field :password%><br /><br /><br>
  PASSWORD CONFIRMATION: <br><br><%= form.password_field :password_confirmation %><br /><br /><br>

  <%= form.submit 'Sign Up' %>
  <% end %>
</article>
