<h1>FlexMiami</h1>
<div id="wrap">
<div id="columns" class="columns_4">
<figure>
  <img class="img" ><%= image_tag "crossfit.jpg" %></img>
	<figcaption>Crossfit</figcaption>
  <span>Crossfit 305</span><br>
    <span class="price">$25</span>
    <a class="button" href="/products/1">More</a>
    <a class="button" href="/charges/new">Purchase</a>
	</figure>
<figure>
	<img class="img"><%= image_tag "sideplank.jpeg" %></img>
	<figcaption>Pilates</figcaption>
  <span>Kenergy Pilates</span><br>
    <span class="price">$44</span>
    <a class="button" href="/products/2">Description</a>
    <a class="button" href="#">Book Now</a>
</figure>

<figure>
	<img class="img"><%= image_tag "bootybouncing.jpg"%></img>
	<figcaption>Bootcamp</figcaption>
  <span>Bodytek Wynwood</span><br>
    <span class="price">$44</span>
      <a class="button" href="/products/3">More</a>
    <a class="button" href="#">Book Now</a>
</figure>

<figure>
	<img class="img"><%= image_tag "boxing.jpg"%></img>
	<figcaption>Boxing</figcaption>
  <span>Fight Club</span><br>
    <span class="price">$44</span>
      <a class="button" href="/products/4">More</a>
    <a class="button" href="#">Book Now</a>
</figure>

<figure>
	 <img class="img"><%= image_tag "zumba.jpg"%></img>
	<figcaption>Zumba</figcaption>
  <span>B2 Studio Boutique</span><br>
    <span class="price">$44</span>
      <a class="button" href="/products/5">More</a>
    <a class="button" href="#">Book Now</a>
</figure>

<figure>
	 <img class="img"><%= image_tag "pole dancing.jpg"%></img>
	<figcaption>Pole Dancing</figcaption>
  <span>Kitty Kat Pole Dancing</span><br>
     <span class="price">$44</span>
       <a class="button" href="/products/6">More</a>
     <a class="button" href="#">Book Now</a>
</figure>

<figure>
	<img class="img"><%= image_tag "hip hop.jpg"%></img>
	<figcaption>Hip Hop Dance Workout</figcaption>
    <span>Vixen Wynwood</span><br>
    <span class="price">$44</span>
      <a class="button" href="/products/7">More</a>
    <a class="button" href="#">Book Now</a>
</figure>

<figure>
  <%= image_tag "jiu.jpg"%>
  <figcaption>Jiu Jitsu</figcaption>
  <span>Fight Sports Miami</span><br>
     <span class="price">$44</span>
       <a class="button" href="/products/8">More</a>
     <a class="button" href="#">Book Now</a>
</figure>


</div>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>**Price**</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.formatted_price %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
