<iframe width="0" height="0" src="https://www.youtuberepeater.com/watch?v=koPOXO3_-_M&name=Good+Vibes+Radio+MUSIC+LIVE+STREAM+24+7+Best+Electronic+Future+Bass+Dance+Pop" target="_blank" frameborder="0" allowfullscreen></iframe>
<div id="wrap">
<div id="columns" class="columns_4">

<figure>
  <img class="img" ><%= image_tag "crossfit.jpg", :style => "height: 280px"%></img>
	<figcaption>CrossFit</figcaption>
  <span>CrossFit 305</span><br>
    <span class="price">$25</span>
    <a class="button" href="/products/1">More</a>
    <a class="button" href="/charges/new">Purchase</a>
</figure>

<figure>
	<img class="img"><%= image_tag "pilatess.jpg", :style => "height: 280px" %></img>
	<figcaption>Pilates</figcaption>
  <span>Kenergy Pilates</span><br>
    <span class="price">$25</span>
    <a class="button" href="/products/2">More</a>
    <a class="button" href="/charges/new">Purchase</a>
</figure>

<figure>
	<img class="img"><%= image_tag "bootybouncing.jpg", :style => "height: 280px"%></img>
	<figcaption>BootCamp</figcaption>
  <span>Bodytek Wynwood</span><br>
    <span class="price">$25</span>
      <a class="button" href="/products/3">More</a>
    <a class="button" href="/charges/new">Purchase</a>
</figure>

<figure>
	<img class="img"><%= image_tag "boxing.jpg", :style => "height: 280px"%></img>
	<figcaption>Boxing</figcaption>
  <span>Fight Club</span><br>
    <span class="price">$25</span>
      <a class="button" href="/products/4">More</a>
    <a class="button" href="/charges/new">Purchase</a>
</figure>

<figure>
	 <img class="img"><%= image_tag "zumba.jpg", :style => "height: 280px"%></img>
	<figcaption>Zumba</figcaption>
  <span>B2 Studio Boutique</span><br>
    <span class="price">$25</span>
      <a class="button" href="/products/5">More</a>
    <a class="button" href="/charges/new">Purchase</a>
</figure>

<figure>
	 <img class="img"><%= image_tag "pole dancing.jpg", :style => "height: 280px"%></img>
	<figcaption>Pole Dancing</figcaption>
  <span>Kitty Kat Pole Dancing</span><br>
     <span class="price">$25</span>
       <a class="button" href="/products/6">More</a>
     <a class="button" href="/charges/new">Purchase</a>
</figure>

<figure>
	<img class="img"><%= image_tag "hip hop.jpg", :style => "height: 280px"%></img>
	<figcaption>Hip Hop Dance Workout</figcaption>
    <span>Vixen Wynwood</span><br>
    <span class="price">$25</span>
      <a class="button" href="/products/7">More</a>
    <a class="button" href="/charges/new">Purchase</a>
</figure>

<figure>
  <img class="img"><%= image_tag "jiu.jpg", :style => "height: 280px"%></img>
  <figcaption>Jiu Jitsu</figcaption>
  <span>Fight Sports Miami</span><br>
     <span class="price">$25</span>
       <a class="button" href="/products/8">More</a>
     <a class="button" href="/charges/new">Purchase</a>
</figure>

<figure>
  <img class="img"><%= image_tag "yoga.jpg", :style => "height: 280px"%></img>
  <figcaption>Yoga</figcaption>
  <span>Love Life Studio</span><br>
     <span class="price">$25</span>
       <a class="button" href="/products/9">More</a>
     <a class="button" href="/charges/new">Purchase</a>
</figure>

</div>
</div>


<br>

<!-- <%= link_to 'New Product', new_product_path %> -->
