<div id="wrap">
<div id="columns" class="columns_4">

<figure>
  <img class="img" ><%= image_tag "crossfit.jpg" %></img>
	<figcaption>CrossFit</figcaption>
  <span>CrossFit 305</span><br>
    <span class="price">$25</span>
    <a class="button" href="/products/1">More</a>
    <a class="button" href="/charges/new">Purchase</a>
</figure>

<figure>
	<img class="img"><%= image_tag "sideplank.jpeg" %></img>
	<figcaption>Pilates</figcaption>
  <span>Kenergy Pilates</span><br>
    <span class="price">$25</span>
    <a class="button" href="/products/2">More</a>
    <a class="button" href="/charges/new">Purchase</a>
</figure>

<figure>
	<img class="img"><%= image_tag "bootybouncing.jpg"%></img>
	<figcaption>BootCamp</figcaption>
  <span>Bodytek Wynwood</span><br>
    <span class="price">$25</span>
      <a class="button" href="/products/3">More</a>
    <a class="button" href="/charges/new">Purchase</a>
</figure>

<figure>
	<img class="img"><%= image_tag "boxing.jpg"%></img>
	<figcaption>Boxing</figcaption>
  <span>Fight Club</span><br>
    <span class="price">$25</span>
      <a class="button" href="/products/4">More</a>
    <a class="button" href="/charges/new">Purchase</a>
</figure>

<figure>
	 <img class="img"><%= image_tag "zumba.jpg"%></img>
	<figcaption>Zumba</figcaption>
  <span>B2 Studio Boutique</span><br>
    <span class="price">$25</span>
      <a class="button" href="/products/5">More</a>
    <a class="button" href="/charges/new">Purchase</a>
</figure>

<figure>
	 <img class="img"><%= image_tag "pole dancing.jpg"%></img>
	<figcaption>Pole Dancing</figcaption>
  <span>Kitty Kat Pole Dancing</span><br>
     <span class="price">$25</span>
       <a class="button" href="/products/6">More</a>
     <a class="button" href="/charges/new">Purchase</a>
</figure>

<figure>
	<img class="img"><%= image_tag "hip hop.jpg"%></img>
	<figcaption>Hip Hop Dance Workout</figcaption>
    <span>Vixen Wynwood</span><br>
    <span class="price">$25</span>
      <a class="button" href="/products/7">More</a>
    <a class="button" href="/charges/new">Purchase</a>
</figure>

<figure>
  <%= image_tag "jiu.jpg"%>
  <figcaption>Jiu Jitsu</figcaption>
  <span>Fight Sports Miami</span><br>
     <span class="price">$25</span>
       <a class="button" href="/products/8">More</a>
     <a class="button" href="/charges/new">Purchase</a>
</figure>

</div>
</div>
</div>

<br>

<!-- <%= link_to 'New Product', new_product_path %> -->
